<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.7.5/socket.io.js"></script>
</head>
<body>
    <script type="text/javascript">
        $(document).ready(function() {
            var socket = io.connect("http://localhost:5000")
            socket.on('connect', function(){
                socket.send("User Connected")
            });
            socket.on('message', function(data) {
                $('#chat').append($('<p>').text(data));
            });
            
            $('#SendMessage').on('click', function() {
                socket.send($('#user').val() + " - " + $('#message').val());
                $('#message').val('');
            });
        });
    </script>

    </script>
    <div id="chat">

    </div>
    <input type="text" placeholder="Username" id="user">
    <button id="Set">Set Username</button>
    <br>
    <input type="text" placeholder="Message" id="message">
    <button id="SendMessage">Send Message</button>
</body>
</html>